@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  color: var(--color-text-primary);
}

@theme {
  --color-background: #101828;
  --color-card-background: #1e2939;
  --color-input-background: #364153;
  --color-light-input-background: #4a5565;

  --color-border-primary: #364153;

  --color-text-primary: #ffffff;
  --color-text-secondary: #99a1af;
  --color-text-tertiary: #d1d5dc;
  --color-text-muted: #6a7282;

  --color-accent: #ff2056;
  --color-accent-secondary: #ec4899;
  --color-accent-light: #ff637e;
  --color-accent-disabled: #8b0836;

  --color-button-background: #ec003f;
  --color-button-hover: #c70036;

  --color-error: #ff6467;
}
