@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  color: var(--color-foreground);
}

@theme {
  --color-background: #111827;
  --color-card: #1f2937;
  --color-input: #374151;
  --color-input-hover: #4a5565;

  --color-border: #374151;

  --color-foreground: #ffffff;
  --color-foreground-secondary: #9ca3af;
  --color-foreground-tertiary: #d1d5dc;
  --color-muted: #6a7282;

  --color-accent: #ff2056;
  --color-accent-secondary: #ec4899;
  --color-accent-light: #ff637e;
  --color-accent-disabled: #8b0836;

  --color-button: #ec003f;
  --color-button-hover: #c70036;

  --color-error: #ff6467;
}
